[defaults]
inventory = inventory.yml
nocows=True
stdout_callback=beautiful_output
bin_ansible_callbacks=True
interpreter_python=/usr/bin/python

[privilege_escalation]
become_method = sudo
become_user = root
