[defaults]
inventory = inventory.yml
nocows = True
ask_vault_pass=True
stdout_callback = beautiful_output
bin_ansible_callbacks = True

[privilege_escalation]
become = True
become_ask_pass = True
become_method = sudo
become_user = root

