/* 
┌─┐┬┌┬┐┌─┐┬  ┌─┐
└─┐││││├─┘│  ├┤ 
└─┘┴┴ ┴┴  ┴─┘└─┘
┌─┐┌─┐─┐ ┬      
├┤ │ │┌┴┬┘      
└  └─┘┴ └─

by Miguel Avila

*/

:root {
  scrollbar-width: none !important;
}

.newtab-main {
  display: none !important;
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  .click-target-container *,
  .top-sites-list * {
    color: #fff !important;
    text-shadow: 2px 2px 2px #000 !important; 
  }
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  body {
    background: url(wallpaper.png) !important;
    background-size: cover !important;
  }
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
